In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
x=df.drop(columns='target')
y=df.target

In [8]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=8)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [13]:
estimators=[
    ('rfc',RandomForestClassifier(n_estimators=10,random_state=42)),
    ('knc',KNeighborsClassifier(n_neighbors=10)),
    ('gbc',GradientBoostingClassifier())
]

In [14]:
from sklearn.ensemble import StackingClassifier

clf=StackingClassifier(
    estimators=estimators,
    final_estimator=LogisticRegression(),
    cv=10
)

In [15]:
clf.fit(x_train,y_train)

StackingClassifier(cv=10,
                   estimators=[('rfc',
                                RandomForestClassifier(n_estimators=10,
                                                       random_state=42)),
                               ('knc', KNeighborsClassifier(n_neighbors=10)),
                               ('gbc', GradientBoostingClassifier())],
                   final_estimator=LogisticRegression())

In [16]:
clf

StackingClassifier(cv=10,
                   estimators=[('rfc',
                                RandomForestClassifier(n_estimators=10,
                                                       random_state=42)),
                               ('knc', KNeighborsClassifier(n_neighbors=10)),
                               ('gbc', GradientBoostingClassifier())],
                   final_estimator=LogisticRegression())

In [18]:
y_pred=clf.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.8688524590163934